.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  &:is(:hover, :focus) {
    color: var(--light-blue);
  }
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var();
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  .menu-toggle {
    position: absolute;
    top: 10px;
    right: 14px;
  }
}

.menu-container.is-open {
  transform: translateX(0);
}

.mobile {
  height: 796px;
  width: 480px;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: white;
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &container {
    &-svg {
      color: black;
      position: relative;
      top: 10px;
      right: 15px;
      cursor: pointer;
      &:is(:hover, :focus) {
        fill: var(--light-blue);
      }
    }
  }
  &__contact {
    list-style: none;
    &-phone {
      display: block;
      font-weight: 500;
      font-size: 34px;
      line-height: calc(40 / 34);
      letter-spacing: 0.02em;
      color: var(--light-blue);
      text-decoration: none;
      outline: none;
      padding-bottom: 32px;
      cursor: pointer;
      &:is(:hover, :focus) {
        text-decoration: underline var(--light-blue);
      }
    }
    &-email {
      display: block;
      font-weight: 500;
      font-size: 24px;
      line-height: calc(28 / 24);
      letter-spacing: 0.02em;
      color: var(--light-grey);
      text-decoration: none;
      outline: none;
      padding-bottom: 64px;
      cursor: pointer;
      &:is(:hover, :focus) {
        color: var(--light-blue);
        text-decoration: underline var(--light-blue);
      }
    }
  }
  &__box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__menu {
    list-style: none;

    &-item {
      display: block;
      font-weight: 500;
      font-size: 40px;
      line-height: calc(47 / 40);
      letter-spacing: 0.02em;
      color: var(--main-text-color);
      text-decoration: none;
      outline: none;
      cursor: pointer;
      &:is(:hover, :focus) {
        color: var(--light-blue);
        text-decoration: underline var(--light-blue);
      }
    }
  }
  &__socialmedia {
    &-item {
      font-weight: 500;
      font-size: 18px;
      line-height: calc(22 / 18);
      letter-spacing: 0.02em;
      color: var(--light-blue);
      text-decoration: none;
      outline: none;
      cursor: pointer;
      &:is(:hover, :focus) {
        text-decoration: underline var(--light-blue);
      }
    }
    &-border {
      color: rgba(33, 33, 33, 0.2);
    }
  }
}
