.speciality {
  &__title {
    line-height: 1.17;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-align: center;
  }
  &__label {
    position: relative;
  }
  &__content {
    position: absolute;
    bottom: 0%;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--white);
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.03em;
    width: 100%;
    height: 70px;
    padding: 27px;
    background-color: rgba(47, 48, 58, 0.8);
  }
  &__list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 30px;
    margin-top: 50px;
    padding-bottom: 94px;
  }
}
